<<<<<<< HEAD
<h1> ' </h1>
  <br>
<h1>Edit User</h1>
<br>
<%= form_for @user do |f| %>
<%= f.label :name, "Full Name" %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :role %>
<%= f.select :role, options_for_select(["Host", "Guest"]) %>
<br>
<br><br>
<%= f.submit %>
<% end %>
=======
<h1>User#edit</h1>
<p>Find me in app/views/user/edit.html.erb</p>
>>>>>>> 26919e5d1e053f8eb09fb93b333ba5f5066724bb
