<h1>Create User</h1>
<%= form_for @user do |f| %>
<%= f.label :name, "Full Name" %>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :role %>
<%= f.select :role, options_for_select(["Host", "Guest"]) %>
<br>
<br>
<%= f.submit %>
<% end %>
<br>
<br>
<%= link_to "Back", users_path %>