<h1><%= @user.name %></h1>
<h3>Role:</h3> <%= @user.role %>
<br>
<% @user.events.each do |event|  %>
<br>
<%= link_to event.event_name, event_path(event) %>
<% end %>


<br>
<br>
<%= link_to "Edit", edit_user_path %> | 
<%= link_to "Delete", @user, :method => :delete %> | 
<%= link_to "All Users", users_path %>
