<h1> ' </h1>
  <br>
<h1><%= @user.name %></h1>
Role: <%= @user.role %>
<br><br>
Attending: 
<ul>
<% @user.events.each do |event|  %>

<li>
<%= event.event_name %>
<% end %>

</li>
</ul>
<br><br>
| <%= link_to 'Edit User', edit_user_path %> |

<%= link_to "Delete User", @user, :method => :delete %> | 
