<h1> ' </h1>
<br>
<h1><%= @event.event_name %></h1>
<h4><%= @event.description %></h4>
<br><br>
Activities : 
<ul>
  <% @event.activities.each do |activity| %>
    <li>
    <%= activity.title %>
    <br>
    <% end %>
    </li>
</ul>
<br>
RSVPs :
<ul>
  <% @event.users.each do |user| %>
    <li>
    <%= user.name %>
    <br>
    <% end %>
    </li>
</ul>
<br><br>


| <%= link_to "Add Event", new_event_path %> | 

<%= link_to "Edit Event",  edit_event_path %> |

<%= link_to "Delete Event", @event, :method => :delete %> | 





