<h1> ' </h1>
  <br><br>
<h1>Create a New Activity:</h1>
<h4>Don't be shy, get creative!</h4>
<br>
<%= form_for(@activity) do |f| %>
<%= f.label :title %>
<br>
<%= f.text_field :title %>
<br><br>
<%= f.label :description %>
<br>
<%= f.text_area :description %>
<br><br><br>
<%= f.submit %>

<% end %>
<br><br>
