<<<<<<< HEAD

<h1>Activity <%= @activity.id %>: </h1> 
<%=image_tag("#{@activity.image}")%>
<br>
<strong><%= @activity.title %></strong>
<br><br>
<%= @activity.description%>

<br><br>
<%= link_to 'Activities Index', activities_path %>
=======
<h1> ' </h1>
  <br>
<h1><%= @activity.title  %> </h1> 

<br>
<%= @activity.description%>

<br><br>
<br>

| <%= link_to "Add New Activity", new_activity_path %> |  

<%= link_to "Edit This Activity", edit_activity_path %> |



>>>>>>> Jess_Dev
